<h1>Students</h1>

<%= link_to 'Upload Student Work >>', new_work_path, :class => "button" %>
<br /><br />

<fieldset>
	<legend>List of Students</legend>
	<table>
	  <tr>
	    <th class="student">Name</th>
			<th class="actions show-work-action"></th>
			<th class="actions"></th>
			<th class="actions"></th>
	  </tr>

	<% @students.each do |student| %>
	  <tr>
	    <td><%=h student.name %></td>
	    <td><%= link_to 'Show Work', works_path(:student_id => student) %></td>
	    <td><%= link_to 'Edit', edit_student_path(student) %></td>
	    <td class="delete"><%= link_to 'Destroy', student, :confirm => 'Are you sure?', :method => :delete if hide? == false %></td>
	  </tr>
	<% end %>
	</table>
</fieldset>