<% edit ||= false %>

<div id="progress_overlay" style="display:none;"><div id="progress">Saving<br /><%= image_tag("progress.gif") %><br /><div id="progress_patience" style="display: none;">Please be patient, your file is uploading...</div></div></div>
<% form_for(@syllabus_file, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>	
	<fieldset class="">
		<legend>Course Info</legend>
		<div class="">
			<%= f.label :semester %>
			<select name="syllabus_file[semester]">
			    <% semester = @syllabus_file.semester %>

			    <option></option>
			    <!-- <option <%= "selected='selected'" if semester == "Fall 2010" %>>Fall 2010</option> -->
			    <option <%= "selected='selected'" if semester == "Spring 2010" %>>Spring 2010</option>
			    <option <%= "selected='selected'" if semester == "Fall 2009" %>>Fall 2009</option>
			    <option <%= "selected='selected'" if semester == "Spring 2009" %>>Spring 2009</option>
			    <option <%= "selected='selected'" if semester == "Fall 2008" %>>Fall 2008</option>
			    <option <%= "selected='selected'" if semester == "Spring 2008" %>>Spring 2008</option>
			    <option <%= "selected='selected'" if semester == "Fall 2007" %>>Fall 2007</option>
			    <option <%= "selected='selected'" if semester == "Spring 2007" %>>Spring 2007</option>
			    <option <%= "selected='selected'" if semester == "Fall 2006" %>>Fall 2006</option>
			    <option <%= "selected='selected'" if semester == "Spring 2006" %>>Spring 2006</option>
			    <option <%= "selected='selected'" if semester == "Fall 2005" %>>Fall 2005</option>
			    <option <%= "selected='selected'" if semester == "Spring 2005" %>>Spring 2005</option>
			    <option <%= "selected='selected'" if semester == "Fall 2004" %>>Fall 2004</option>
			    <option <%= "selected='selected'" if semester == "Spring 2004" %>>Spring 2004</option>
			    <option <%= "selected='selected'" if semester == "Fall 2003" %>>Fall 2003</option>
			    <option <%= "selected='selected'" if semester == "Spring 2003" %>>Spring 2003</option>
			  </select>
		</div>
		<div class="field">
			<%= f.label :course_name %>
	    <%= text_field_with_auto_complete :syllabus_file, :course_name, {:size => 35, :onchange => "document.getElementById('work_project_name').value=''; hideTooltip('course_name');", :onfocus => "showTooltip('course_name');", :onblur => "hideTooltip('course_name');" }, { :url => courses_path(:js), :method => :get, :with => "'search=' + element.value" } %>
			<%= tooltip('course_name', 'As you start typing, a list of courses of matching will appear. Choose the correct course or enter a new name to create a new course.')%>
		</div>
		<div class="field">
			<%= f.label :instructor_name %>
			<%= text_field_with_auto_complete :syllabus_file, :instructor_name, {:size => 35, :onfocus => "showTooltip('instructor_name');", :onblur => "hideTooltip('instructor_name');" }, { :url => instructors_path(:js), :method => :get, :with => "'search=' + element.value" } %>
			<%= tooltip('instructor_name', 'Choose or enter the instructor\'s name that taught this student during this course.')%>
		</div>
	</fieldset>
		
		<fieldset class="file other">
			<legend>Upload Syllabi</legend>
			<div class="info">Upload your syllabus in a PDF or text document format.<br /></div>
			<p>
				<div id="file-field-1"><%= f.file_field :uploaded_data %></div>
			</p>
		</fieldset>
		
  <p class="clear">
    <%= f.submit 'Save', :onclick => "showProgressOverlay();" %> or <%= edit == true ? link_to('Cancel', syllabus_files_path) : link_to('Cancel', syllabus_files_path) %>
  </p>
<% end %>
