<h1>Syllabi <%= ("for " + @course.name) if @course %> <span class="filter-options"><%= ('(' + link_to( 'show all files', syllabus_files_path ) + ')') if @course %></span></h1>


<%= link_to 'Upload New Syllabus File >>', new_syllabus_file_path, :class => "button" %>

<br /><br />

<fieldset class="student">
	<legend>All Syllabus Files (Most Recent First)</legend>
	<div class="info">If you have having issues viewing files in the browser, try right clicking to the "show" link to download the file.</div>
	<table>
	  <tr>
	    <th class="semester">Semester</th>
	    <th class="course_name">Course Name</th>
	    <th class="instructor">Instructor</th>
			<th class="actions"></th>
			<th class="actions"></th>
			<th class="actions"></th>
	  </tr>
		<tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<% @syllabus_files.each do |syllabus_file| %>
	  <tr>
	    <td class="" onclick=""><%=h syllabus_file.semester %></td>
	    <td class="" onclick=""><%= syllabus_file.course_name %></td>
	    <td class="" onclick=""><%=h syllabus_file.instructor_name %></td>
	    
			<td><%= link_to 'Show', ActionController::Base.relative_url_root + syllabus_file.public_filename, :target => '_blank' %></td>
	    <td><%= link_to 'Edit', edit_syllabus_file_path(syllabus_file) %></td>
	    <td class="delete"><%= link_to( 'Destroy', syllabus_file, :confirm => 'Are you sure?', :method => :delete) if hide? == false %></td>
	  </tr>
	<% end %>
	</table>
	
	<div style="margin-top: 15px;"><%= will_paginate @works %></div>
</fieldset>