<section class="row">
  <%= form_for @work, html: { multipart: true} do |f| %>
    <% if @work.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

        <ul>
        <% @work.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="small-12 columns">
      <paper-material elevation="2" style="background: #fff; padding: 10px 20px;">
        <%= label_tag nil, 'Images and Files', class: 'required' %>
        <div id="upload-works" style="border: 1px dashed #ccc;" class="dropzone"></div>
      </paper-material>
      <hr>
    </div>

    <!-- TEMP -->
    <script type="text/javascript">
      var myDropzone = new Dropzone("div#upload-works", { 
        url: "<%= attachments_path(temp_image_token: @work.temp_image_token) %>",
        paramName: "attachment[file]"

      });
    </script>
    <!-- END TEMP -->

    <div class="small-12 columns">
      <paper-material elevation="1" style="background: #fff; padding: 10px 20px;">
        <div class="field">
          <%= f.label :instructor_id, class: 'required' %>
          <%= 
            chosen_select(f, :instructor_id, options_from_collection_for_select(Instructor.all, 'id', 'name', @work.instructor_id), {include_blank: true}, 
              data: {
                placeholder: 'Select an instructor',
                no_results_text: 'No instructors match'
              }
            ) 
          %>
        </div>

        <div class="field">
          <%= f.label :course_id, class: 'required' %>
          <%= 
            chosen_select(f, :course_id, options_from_collection_for_select(Course.all, 'id', 'number_and_name', @work.course_id), {include_blank: true}, 
              data: {
                placeholder: 'Select a course',
                no_results_text: 'No courses match'
              }
            ) 
          %>
        </div>
        <div class="field">
          <%= f.label :project_id, class: 'required' %>
          <%= text_field_with_bar f, :project_id %>
        </div>
        <div class="field">
          <%= f.label :term, class: 'required' %>
          <%=
            chosen_select(f, :term, grouped_options_for_select(build_terms(group_year: true), @work.term), {include_blank: true},
              data: {
                placeholder: 'Select a term'
              }
            ) 
          %>
        </div>
      </paper-material>
      <hr>
    </div>

    <div class="small-12 columns">
      <paper-material elevation="1" style="background: #fff; padding: 10px 20px;">
        <div class="field">
          <%= f.label :student_ids, 'Students' %>
          <%= 
            chosen_select(f, :student_ids, options_from_collection_for_select(Student.all, 'id', 'name', @work.student_works.map(&:student_id)), {include_blank: true},
              multiple: true,
              data: {
                placeholder: 'Select one or more students'
              }
            )
          %>
        </div>
        <div class="field">
          <%= f.label :name, 'Title' %>
          <%= text_field_with_bar f, :name %>
        </div>

        <div class="field">
          <%= f.label :description %>
          <%= text_area_with_bar f, :description %>
        </div>
      </paper-material>
      <hr>
    </div>

    <div class="small-12 columns">
      <%= f.hidden_field :temp_image_token %>
      <%= f.submit %>
    </div>
  <% end %>
</section>
