<section class="row">
  <div class="small-12 columns">
    <h1>Student Work</h1>
  </div>

  <div class="small-12 columns">
    <table class="responsive">
      <thead>
        <tr>
          <th>Students</th>
          <th>Term</th>
          <th>Course</th>
          <th>Project</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @works.each do |work| %>
          <tr>
            <td><%= work.student_names %></td>
            <td><%= work.term %></td>
            <td><%= link_to work.course, work.course %></td>
            <td><%= link_to work.project, work.project %></td>
            <td><%= link_to 'View', work %></td>
            <td><%= link_to 'Edit', edit_work_path(work) %></td>
            <td><%= link_to 'Delete', work, method: :delete, data: { confirm: 'Are you sure? This cannot be undone.' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="small-6 columns end">
    <%= button_link_to 'Upload New Student Work', new_work_path %>
  </div>
</section>
