<section class="row">
  <div class="small-12 columns">
    <h1><%= @work.name.blank? ? 'Student Work' : @work.name %></h1>
    <h4><%= @work.term %> | <%= @work.course %></h4>
  </div>
</section>

<section class="row">
  <div class="small-12 columns">
    <paper-material elevation="1" style="background: #fff; padding: 10px 20px;">
      <% @work.attachments.each do |attachment| %>
        <%= image_tag attachment.file.url(:medium) %>
      <% end %>
    </paper-material>
    <hr>
  </div>

    <div class="small-12 columns">
      <paper-material elevation="1" style="background: #fff; padding: 10px 20px;">
        <p>
          <strong>Project:</strong>
          <%= link_to @work.project, @work.project %>
        </p>
        <p>
          <strong>Student<%= 's' if @work.students.count != 1 %>:</strong>
          <%=raw @work.students.map{|student| link_to(student, student).html_safe }.to_sentence.gsub(', and ', ' &amp; ') %>
          <%= 'None' if @work.students.count == 0 %>
        </p>

        <%= content_tag(:div, @work.description) unless @work.description.blank? %>
      </paper-material>
      <hr>
    </div>

  <div class="small-12 columns">
    <paper-material elevation="1" style="background: #fff; padding: 10px 20px;">
      <p>
        <strong>Instructor:</strong>
        <%= link_to @work.instructor, @work.instructor %>
      </p>

      <p>
        <strong>Course:</strong>
        <%= link_to @work.course, @work.course %>
      </p>
    </paper-material>
    <hr>
  </div>
</section>


<section class="row">
  <div class="small-12 columns">
    <%= link_to 'Edit', edit_work_path(@work) %> |
    <%= link_to 'Back', works_path %>
  </div>
</section>