<style media="screen">
  body {
    background-color: #efefef;
  }
</style>

<%= form_for(@submission, html: {id: 'submission_form'}) do |f| %>
  <% if @submission.errors.any? %>
    <section class="row">
      <div class="large-8 medium-10 large-offset-2 medium-offset-1 columns" id="error_explanation">
        <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

        <ul>
        <% @submission.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </section>
  <% end %>



<section class="row">
  <div class="large-8 medium-10 large-offset-2 medium-offset-1 columns">
    <%= box do %>
      <%= box_body do %>

        <%= label_tag nil, 'Images and Files', class: 'required' %>
        <div id="upload-works" style="border: 1px dashed #ccc;" class="dropzone"></div>

        <%
          if @submission.new_record? && @submission.errors.any?
            previously_uploaded = Attachment.where(parent_type: 'temp', parent_id: @submission.temp_image_token)
          elsif !@submission.new_record?
            previously_uploaded = @submission.attachments
          else
            previously_uploaded = nil
          end
        %>
        <% if previously_uploaded && previously_uploaded.count > 0 %>
          <div class="notice success">
            <%= pluralize(previously_uploaded.count, 'file') %> <%= previously_uploaded.count == 1 ? 'has' : 'have' %> already been uploaded. You do not need to re-upload <%= previously_uploaded.count == 1 ? 'this file' : 'these files' %>:
          </div>
          <div>
            <% previously_uploaded.each do |attachment| %>
              <% if attachment.file_content_type.include?('image') %>
                <%= image_tag attachment.file.url(:small) %>
              <% else %>
                <%= link_to attachment.file.url(), class: 'file-attachment medium' do %>
                  <%= file_icon(attachment.file_content_type) %><br>
                  <%= attachment.file_file_name %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>

      <% end #box_body %>
    <% end #box %>
  </div>
</section>


<section class="row">
  <div class="large-8 medium-10 large-offset-2 medium-offset-1 columns">
    <%= box do %>
      <%= box_body do %>

        <%# --- Student ---- %>
        <%= f.fields_for :student do |f_student| %>
          <%= f_student.hidden_field :id %>
          <%= text_field_with_bar f_student, :name, label: 'Student Name', required: true %>
        <% end %>

        <%# --- Custom Fields ---- %>
        <%= f.fields_for :data, OpenStruct.new(f.object.data || {}) do |f_data| %>
          <% CustomField.all.each do |custom_field| %>
            <div class="field">
              <% if custom_field.options.any? %>
                <%= chosen_select f_data, custom_field.name, options_for_select(custom_field.options.map(&:name), f_data.object[custom_field.name]) %>
              <% else %>
                <%= text_field_with_bar f_data, custom_field.name, label: true, required: custom_field.required %>
              <% end %>
            </div>
          <% end %>
        <% end %>


      <% end #box_body %>
    <% end #box %>
  </div>
</section>


<section class="row">
  <div class="large-8 medium-10 large-offset-2 medium-offset-1 columns actions text-right" style="margin-bottom: 5em;">
    <%= f.hidden_field :temp_image_token %>
    <%= f.submit 'Save Submission' %>
    <%= link_to 'Cancel Changes', @submission, class: 'cancel' unless @submission.new_record? %>
  </div>
</section>

<% end %>


<script type="text/javascript">
var dropzoneFileCount = 0;
var dropzoneFileCompleted = 0;
var dropzoneFileSuccessCount = 0;

var submit_button = $('#submission_form input[type="submit"]');
submit_button.data('defaultVal', submit_button.val());

var myDropzone = new Dropzone("div#upload-works", {
  url: "<%= attachments_path(temp_image_token: @submission.temp_image_token) %>",
  paramName: "attachment[file]",
  dictDefaultMessage: 'Drop <%= "additional" if !@submission.new_record? %> files here or click to upload',
  init: function() {
    this.on("addedfile", function(file) {
      dropzoneFileCount += 1;

      submit_button.val('Uploading file, please wait...')
      submit_button.attr('disabled', 'disabled');

      $('#notice-container .notice.uploading').removeClass('hide');

      if (dropzoneFileCount > 1) {
        $('#notice-container .plural').removeClass('hide');
        $('#notice-container .total-file-count').html(dropzoneFileCount);
      }
    });
    this.on('error', function(file) {
      $('#notice-container').append('<div class="notice error">There was an error while uploading <span class="filename">' + file.name + '</span></div>');
    });
    this.on('success', function(file) {
      dropzoneFileSuccessCount += 1;

      $('#notice-container .success').removeClass('hide');
      $('#notice-container .file-count').html(dropzoneFileSuccessCount);
    });
    this.on('complete', function(file) {
      dropzoneFileCompleted += 1;

      if (dropzoneFileCompleted == dropzoneFileCount) {
        $('#notice-container .notice.uploading').addClass('hide');
        submit_button.val(submit_button.data('defaultVal'));
        submit_button.removeAttr('disabled');
      }
    });
  }
});
</script>
