<section class="row">
  <%= form_for(@syllabus) do |f| %>
    <% if @syllabus.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@syllabus.errors.count, "error") %> prohibited this syllabus from being saved:</h2>

        <ul>
        <% @syllabus.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="small-12 columns">
      <paper-material elevation="1" style="background: #fff; padding: 10px 20px;">
        <div class="field">
          <%= f.label :term, class: 'required' %>
          <%=
            chosen_select(f, :term, grouped_options_for_select(build_terms(group_year: true), @syllabus.term), {include_blank: true},
              'data-no_results_text' => 'No terms match',
              data: {
                placeholder: 'Select a term'
              }
            ) 
          %>
        </div>
        <div class="field">
          <%= f.label :instructor_id, class: 'required' %>
          <%= 
            chosen_select(f, :instructor_id, options_from_collection_for_select(Instructor.all, 'id', 'name', @syllabus.instructor_id), {include_blank: true}, 
              data: {
                placeholder: 'Select an instructor',
                no_results_text: 'No instructors match'
              }
            ) 
          %>
        </div>
        <div class="field">
          <%= f.label :course_id, class: 'required' %>
          <%= 
            chosen_select(f, :course_id, options_from_collection_for_select(Course.all, 'id', 'number_and_name', @syllabus.course_id), {include_blank: true}, 
              data: {
                placeholder: 'Select a course',
                no_results_text: 'No courses match'
              }
            ) 
          %>
        </div>

        <div class="row">
          <% unless @syllabus.new_record? %>
            <div class="medium-6 columns">
              <%= label_tag 'Current file' %>
              <%= link_to @syllabus.document_file_name, @syllabus.document.url() %>
            </div>
          <% end %>
          <div class="medium-6 columns end">
            <%= f.label :document, 'New Document' %>
            <%= f.file_field :document %>
          </div>
        </div>
      </paper-material>
      <hr>
    </div>

    <div class="small-12 columns">
      <%= f.submit %> <%= link_to 'Cancel', syllabi_path, class: 'cancel' %>
    </div>
  <% end %>
</section>