<section class="row">
  <div class="medium-8 columns">
    <h1>Syllabi</h1>
  </div>
  <div class="medium-4 columns">
    <%= button_link_to 'Upload', new_syllabus_path %>
  </div>

  <div class="small-12 columns">
    <table class="responsive">
      <thead>
        <tr>
          <th>Course</th>
          <th>Instructor</th>
          <th>Term</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @syllabi.each do |syllabus| %>
          <tr>
            <td><%= link_to syllabus.course, syllabus.course if syllabus.course %></td>
            <td><%= link_to syllabus.instructor, syllabus.instructor if syllabus.instructor %></td>
            <td><%= syllabus.term %></td>
            <td class="actions"><%= link_to 'View', syllabus.document.url() %></td>
            <td class="actions"><%= link_to 'Edit', edit_syllabus_path(syllabus) %></td>
            <td class="actions"><%= link_to 'Delete', syllabus, method: :delete, data: { confirm: 'Are you sure? This cannot be undone' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="small-6 columns end">
    <%= button_link_to 'Upload Syllabi', new_syllabus_path %>
  </div>
</section>
