<%
  # The index view will preload the first x number of images and the rest will use the unviel js plugin
  work_count = 0
  number_of_preloaded_images = 9
%>

<article class="level1">

  <% if @works && @works.any? %>
    <section class="row browse-index-header">
      <hgroup class="small-12 columns">
        <h1>
          <% 
            if @course 
              concat @course
            elsif !params[:level].blank?
              concat "#{params[:level]} Level"
            end
          %>
          Student Work
        </h1>
        <h2>
          <%= "in #{params[:area].gsub('+', ' ')}" unless params[:area].blank? %>
          <%= "#{@project} project" if @project %>
          <%= "taught by #{@instructor}" if @instructor %>
          &nbsp;
        </h2>
      </hgroup>
    </section>

    <section class="row small-up-1 medium-up-2 large-up-3 collapse work-cards">
      <% @works.each do |work| %>
        <%
          work_count    += 1
          work_image    = (work.has_images ? work.attachments.where(has_image: true).first.file.url(:medium) : "/assets/#{file_icon_path(work.attachments.first.file_content_type)}" )
          default_image = (work_count <= number_of_preloaded_images ? work_image : 'loading-image.gif')
        %>

        <div class="columns work-card">
          <%= link_to browse_work_path(work, request.query_parameters), remote: @use_remote do %>
            <span class="image-wrapper">
              <%= image_tag(default_image, data: { src: work_image, src_retina: work_image}) %></span>
            <span class="title"><%= work_title(work) %></span>
            <span class="row">
              <span class="medium-6 columns medium-text-left text-center"><%= work.term %></span>
              <span class="medium-6 columns medium-text-right text-center"><%= work.instructor %></span>
            </span>
          <% end %>
        </div>

      <% end %>

    </section>
  <% else %>
    <section class="row">
      <div class="medium-10 small-offset-1 columns text-left">
        <div class="panel callout secondary radius">
          <h4>There is nothing to display</h4>
          <p>Try refining your search with the filters on the left</p>
        </div>
      </div>
    </section>
  <% end %>

</article>