<% 
    index     = @works.find_index(@work) 
    prev_work = @works[index-1] rescue nil
    next_work = @works[index+1] rescue nil

%>

<article class="level2 start">
  <div id="details-nav">
    <section class="row full-width collapse">
      <!-- details -->
      <div class="small-8 small-push-2 columns work-details">
        <h1>
          <%= link_to @work.course, browse_works_path(course: @work.course_id) %><%= ": #{link_to @work.project, browse_works_path(project: @work.project_id), class: 'project'}".html_safe if @work.project %>
        </h1>

        <div class="row">
          <!-- <div class="medium-6 columns">
            <dt>Instructor</dt>
            <dd><%= link_to @work.instructor, browse_works_path(instructor: @work.instructor_id, remote: @use_remote) %></dd>
          </div>
          <div class="medium-6 columns">
            <%= @work.students.to_sentence if @work.students.any? %>
          </div> -->

          <div class="small-12 columns">
            <%= simple_format(@work.project.try(:description)) %>
          </div>
        </div>
      </div>

      <!-- nav -->
      <div class="small-2 columns small-pull-8 paginate-btn">
        <%= link_to browse_works_path(request.query_parameters), remote: @use_remote do %>
          <i class="fa fa-th-large"></i> Back
        <% end %>
      </div>
      <div class="small-1 columns text-right paginate-btn">
        <%= link_to (prev_work ? browse_work_path(prev_work, request.query_parameters) : '#'), remote: @use_remote, class: "#{'inactive' unless prev_work}" do %>
          <i class="fa fa-arrow-left"></i>
          <!-- <span class="show-for-medium">Previous</span> -->
        <% end %>
      </div>
      <div class="small-1 columns text-left paginate-btn">
        <%= link_to (next_work ? browse_work_path(next_work, request.query_parameters) : '#'), remote: @use_remote, class: "#{'inactive' unless next_work}" do %>
          <!-- <span class="show-for-medium">Next</span> -->
          <i class="fa fa-arrow-right"></i>
        <% end %>
      </div>
    </section>
  </div>

  <section class="row full-width image-show-row" data-equalizer data-equalize-by-row="true">
    <!-- Work Images -->
    <div class="medium-12 columns text-center image-column" data-equalizer-watch>
      <% @work.attachments.each do |attachment| %>
        <% if attachment.file_content_type.include?('image') %>
          <%= image_tag attachment.file.url(:medium) %><br>
        <% else %>
          <%= link_to attachment.file.url(), class: 'file-attachment medium' do %>
            <%= file_icon(attachment.file_content_type) %><br>
            <%= attachment.file_file_name %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </section>
</article>

<script type="text/javascript">
var details_nav_height = '150px';

$(function(){
  // setup details_nav
  details_nav = $('#details-nav');
  details_nav.data('size','big');

  details_nav_height = String(details_nav.find('> .row').height()) + 'px';
  $('.image-column').css('padding-top', details_nav_height);
});

$('.off-canvas-wrapper').scroll(function(){
  if ($('.off-canvas-wrapper').scrollTop() > 0) {
    if (details_nav.data('size') == 'big') {
      details_nav.data('size','small');
      details_nav.stop().animate({
        height:'40px'
      }, 600);
    }
  } else {
    if (details_nav.data('size') == 'small') {
      details_nav.data('size','big');
      details_nav.stop().animate({
        height: details_nav_height
      }, 600);
    }  
  }
});
</script>