<%= content_for :off_canvas do %>
  <div class="columns">
    <hgroup>
      <h1 class="text-center project-title"><%= @work.project %></h1>
      <div class="row collapse project-details">
        <div class="medium-6 columns"><%= @work.course.try(:number) %></div>
        <div class="medium-6 columns text-right"><%= @work.term %></div>
      </div>
    </hgroup>

    <div class="row">
      <div class="">Instructor</div>
      <div class=""><%= @work.instructor %></div>
    </div>

    <div class="row">
      <div class="">Course</div>
      <div class=""><%= @work.course %></div>
    </div>

    <div class="row">
      <div class="">Project</div>
      <div class=""><%= @work.project %></div>
    </div>

  </div>
<% end %>

<article class="level2 start">
  <section class="row full-width image-show-row" data-equalizer data-equalize-by-row="true">
    <!-- Work Details -->
    <div class="medium-3 columns work-details" data-equalizer-watch data-sticky-container>
      <div class="sticky" data-sticky>
        <!-- title -->
        <h1><%= @work.project %></h1>

        <!-- details -->
        <dl>
          <% if @work.students.any? %>
            <dt>Student<%= 's' if @work.students.count > 1 %></dt>
            <dd><%= @work.students.to_sentence %></dd>
          <% end %>

          <% if @work.course %>
            <dt>Course</dt>
            <dd><%= link_to @work.course, browse_works_path(course: @work.course_id, remote: @use_remote) %></dd>
          <% end %>

          <% if @work.project %>
            <dt>Project</dt>
            <dd><%= link_to @work.project, browse_works_path(project: @work.project_id, remote: @use_remote) %></dd>
          <% end %>

          <% if @work.instructor %>
            <dt>Instructor</dt>
            <dd><%= link_to @work.instructor, browse_works_path(instructor: @work.instructor_id, remote: @use_remote) %></dd>
          <% end %>
        </dl>

        <!-- prev/next -->
        <% 
          begin
            index = @works.find_index(@work) 
            concat link_to 'Previous', browse_work_path(@works[index-1], request.query_parameters), remote: @use_remote
            concat link_to 'Next', browse_work_path(@works[index+1], request.query_parameters), remote: @use_remote
          rescue
            nil
          end
        %>
        <%= link_to 'Close', browse_works_path(request.query_parameters), remote: @use_remote %> 


      </div>
    </div>

    <!-- Work Images -->
    <div class="medium-9 columns text-center image-column" data-equalizer-watch>
      <% @work.attachments.each do |attachment| %>
        <% if attachment.file_content_type.include?('image') %>
          <%= image_tag attachment.file.url(:medium) %><br>
        <% else %>
          <%= link_to attachment.file.url(), class: 'file-attachment medium' do %>
            <%= file_icon(attachment.file_content_type) %><br>
            <%= attachment.file_file_name %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </section>
</article>

<script type="text/javascript">
setTimeout(function() {
  $('main article.level2').removeClass('start');
}, 200)
  
</script>