<%= render :partial => 'header' %>
<p><%= link_to "&lt;-- back to images", browse_works_url(:course_id => params[:course_id], :instructor_id => params[:instructor_id], :student_id => params[:student_id], :level => params[:level]) %></a></p>
<div id="gallery">
	<h2><%= @image.work.project.name %></h2>
	<p><%= @image.work.project.description %></p>
	<a href="#next" class="full">
		<%= image_tag(@image.public_filename(:medium)) %>
	</a>
	<a href="#prev" class="prev">&lt;- previous</a><a href="#next" class="next">next -&gt;</a>
</div>