<script type="text/javascript">
	window.onload = fadeInImage;
	
	function fadeInImage()
	{
		new Effect.Appear("image", { duration: .5 });
	}
</script>


<%= render :partial => 'header' %>
<p><%= link_to "&lt;-- back to images", browse_works_url(:course_id => params[:course_id], :instructor_id => params[:instructor_id], :student_id => params[:student_id], :level => params[:level]) %></a></p>
<div id="gallery">
	<div class="" style="float: left; width: 50%;">
		<b>Course:</b> <%= @work.course.name %> (<%= @work.course.level %> level)<br />
		<b>Project:</b> <%= @work.project.name %><br />
		<b>Instructor:</b> <%= @work.instructor.name %>
	</div>
	<div class="float: left; width: 50%;">
		<b>Student:</b> <%= @work.student.name %> <br />
		<b>Work Title:</b> <%= @work.name.strip !=  "" ? content_tag('em', @work.name) : "N/A" %> <%= "(" + @work.images.count.to_s + " images in set)" if @work.images.count > 1 %>
	</div>
	<br class="clear" /><br />
	
	<!-- image -->
		<%= link_to( ("<div class='loading' style='width: 100%; height: 100%;'>" + image_tag(@image.public_filename(:medium), :id => "image") + "</div>"), browse_work_url(@next_image, :course_id => params[:course_id], :instructor_id => params[:instructor_id], :student_id => params[:student_id], :level => params[:level]), :class => "full", :style => "height: #{ image_height(@image, 'medium') }px;" ) %>
		<script type="text/javascript" charset="utf-8"> $("image").setStyle({display: 'none'}) </script>
		
	
	<!-- prev / next -->
	<%= link_to("&lt;- previous", browse_work_url(@prev_image, :course_id => params[:course_id], :instructor_id => params[:instructor_id], :student_id => params[:student_id], :level => params[:level]), :class => "prev" ) %>
	<%= link_to("next -&gt;", browse_work_url(@next_image, :course_id => params[:course_id], :instructor_id => params[:instructor_id], :student_id => params[:student_id], :level => params[:level]), :class => "next" ) %>
</div>

<!-- <script type="text/javascript" charset="utf-8">
	new Effect.Appear('image', { duration: 3.0, delay: 5 });
</script> -->