<section class="row">
  <%= form_for(@course) do |f| %>
    <% if @course.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

        <ul>
        <% @course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="small-12 columns">
      <paper-material elevation="1" style="background: #fff; padding: 10px 20px;">
        <div class="field">

          <div class="field">
            <%= f.label :number, class: 'required' %>
            <%= f.text_field :number %>
          </div>
          <div class="field">
            <%= f.label :name, class: 'required' %>
            <%= f.text_field :name %>
          </div>
          <div class="field">
            <%= f.label :level, class: 'required' %>
            <%= f.text_field :level %>
          </div>
          <div class="field">
            <%= f.label :credit_hours, class: 'required' %>
            <%= f.number_field :credit_hours %>
          </div>

          <div class="field">
            <%= chosen_select f, :area, options_for_select(Course.areas, f.object.area), 
                include_blank: true, 
                label: true, 
                data: {
                  placeholder: 'Select an area'
                }  %>  
          </div>

          <div class="field">
            <%= f.label :description %>
            <%= f.text_area :description %>
          </div>
        </div>
      </paper-material>
      <hr>
    </div>

    <div class="small-12 columns">
      <%= f.submit %>
      <%= link_to 'Cancel', courses_path %>
    </div>
  <% end %>
</section>
