<h1>All Courses</h1>

<%= link_to 'Enter New Course >>', new_course_path, :class => "button" %>
<br /><br />

<fieldset class="student">
	<legend>Courses</legend>
	<table>
	  <tr>
	    <th class="course">Number</th>
	    <th class="course_name">Name</th>
	    <th class="level">Level</th>
			<th class="actions"></th>
			<th class="actions"></th>
			<th class="actions"></th>
	  </tr>
		<tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>

	<% @courses.each do |course| %>
	  <tr class="<%= course.works.size == 0 ? "has-no-work" : "has-work" %>">
	    <td>ART <%= course.course_number != nil ? course.course_number : "&nbsp;----" %></td>
		  <td><%=h course.name %></td>
			<td><%=h course.level %></td>
	    <td><%= link_to 'Show', coursenumber_url(:id => course, :number => course.course_number) %></td>
	    <td><%= link_to 'Edit', edit_course_path(course) %></td>
	    <td><%= link_to 'Upload', new_work_path(:course => course.name)%></td>
	  </tr>
	<% end %>
	</table>
	<br />
	<span class="has-no-work">* Courses listed in gray do not currently have work associated with it.</span>
</fieldset>

