<section class="row">
  <div class="small-12 columns">
    <h1><%= @course.name %></h1>
    <h4><%= @course.number %> | <%= @course.level %> | <%= @course.credit_hours %> hours | <%= @course.area %></h4>
  </div>
</section>

<section class="row">
  <div class="small-12 columns">
    <paper-material elevation="1" style="background: #fff; padding: 10px 20px;">
      <%= @course.description %>
    </paper-material>
    <hr>
  </div>

</section>

<section class="row">
  <div class="small-12 columns">
    <%= link_to 'Edit', edit_course_path(@course) %> |
    <%= link_to 'Back', courses_path %>
  </div>
</section>
