<%= image_tag('mtrsae-prospectus_01.png') %>

<p class="text-center" style="margin-top: 2em;">
  <%= link_to 'Submit Student Work', new_submission_path(), class: 'button', style: 'min-width: 225px;' %>
</p>

<%= image_tag('mtrsae-prospectus_02.png') %>

<p class="text-center" style="margin-top: 2em;">
  <%= link_to 'Submit Student Work', new_submission_path(), class: 'button', style: 'min-width: 225px;' %><br>
  <%= link_to 'Download PDF', download_pdf_path() %>
</p>
