<div id="nav">
	<ul id="menu">
		<li id="one" class="one"><%= link_to "<span id=\"home\">home</span>", browse_root_url, :class => "one sel" %></li>
		<!-- <li id="two" class="two"><%= @term ? browse_nav_link_to("<span class=\"close\">&nbsp;</span>" + @term, {:term => nil}, :class => 'two sel') : link_to("term", "#", :class => 'two') %>
			<ul class="s_menu">
			 	<li><%= browse_nav_link_to("spring 2010", :term => "spring2010", :course_id => nil, :project_id => nil ) %>
				<li><%= browse_nav_link_to("fall 2009", :term => "fall2009", :course_id => nil, :project_id => nil) %></li>
				<li><%= browse_nav_link_to("spring 2009", :term => "spring2009", :course_id => nil, :project_id => nil )%></li>
				<li><%= browse_nav_link_to("fall 2008", :term => "fall2008", :course_id => nil, :project_id => nil )%></li>
			</ul>
		</li> -->
		<li id="three" class="three"><%= @level ? browse_nav_link_to("<span class=\"close\">&nbsp;</span>" + @level, { :course_id => nil, :level => nil, :project_id => nil }, :class => 'three sel') : link_to("level", "#", :class => 'three') %>
			<ul class="s_menu">
			 	<li><%= browse_nav_link_to("freshman", :course_id => nil, :project_id => nil, :level => "freshman") %>
				<li><%= browse_nav_link_to("sophomore", :course_id => nil, :project_id => nil, :level => "sophomore") %></li>
				<li><%= browse_nav_link_to("junior", :course_id => nil, :project_id => nil, :level => "junior") %></li>
				<li><%= browse_nav_link_to("senior", :course_id => nil, :project_id => nil, :level => "senior")%></li>
			</ul>
		</li>
		<li id="four" class="four"><%= @course ? browse_nav_link_to("<span class=\"close\">&nbsp;</span>" + @course.name, {:course_id => nil, :project_id => nil}, :class => 'four sel') : link_to("courses", "#", :class => 'four') %>
			<ul class="s_menu">
				<% @courses.each do |course| %>
					<li><%= browse_nav_link_to(course.name, :course_id => course.id, :project_id => nil) %></li>
				<% end %>
				<%= "<li><em>none</em></li>" if @courses.size == 0 %>
			</ul>
		</li>
		<% if @course %>
			<li id="five"><%= @project ? browse_nav_link_to("<span class=\"close\">&nbsp;</span>" + @project.name, {:project_id => nil}, :class => 'five sel') : link_to("projects", "#", :class => 'five') %>
				<ul class="s_menu">
					<% @projects.each do |project| %>
						<li><%= browse_nav_link_to(project.name, :project_id => project.id) %></li>
					<% end %>
					<%= "<li><em>none</em></li>" if @course.projects.size == 0 %>
				</ul>
			</li>
		<% else %>
			<!-- <li id="five"><%= link_to("projects", "#", :class => 'five') %></li> -->
			<li id="five"><span class="five disabled">projects</span></li>
		<% end %>
		<li id="six" class="six"><%= @instructor ? browse_nav_link_to("<span class=\"close\">&nbsp;</span>" + @instructor.name, {:instructor_id => nil}, :class => 'six sel') : link_to("instructors", "#", :class => 'six') %>
		<ul class="s_menu">
				<% @instructors.each do |instructor| %>
					<li><%= browse_nav_link_to(instructor.name, :instructor_id => instructor.id) %></li>
				<% end %>
				<%= "<li><em>none</em></li>" if @instructors.size == 0 %>
			</ul>
		</li>
	</ul>
	<form method="get" action="" id="search">
		<input type="text" id="s" name="s" value="search artwork" onfocus="if(this.value=='search artwork') return this.value='';" onblur="if(this.value=='') return this.value='search artwork';" />
	</form>
</div>